* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.open-sans-tekstfml {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}


body {
    overflow-x: hidden;
    background-color: #212121;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgb(44, 44, 44);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(156, 156, 156);
    border-radius: 40px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(83, 83, 83);
}

.container {
    width: 100%;
    height: 100vh;
}

@media (max-width: 1600px) {

    .container header {
        padding: 0px 150px;
        justify-content: space-between;
    }

    .container main section#information .box-infomation-pc-b {
        width: 70%;
    }

    .container main section#main-blg-post .box-tech-pc-bd {
        grid-gap: 15px 20px;
    }

}

@media (max-width: 1444px) {

    .container header {
        padding: 0px 140px;
        justify-content: space-between;
    }

    .container main section#main-blg-post .box-tech-pc-bd {
        grid-gap: 25px 35px;
        grid-template-columns: repeat(2, 1fr);
    }

    .container main section#main-blg-post .box-tech-pc-bd .box-tech-pcbd {
        height: 280px;
    }

}

@media (max-width: 1140px) {

    .container header {
        padding: 0px 110px;
        justify-content: space-between;
    }

    .container main section#information .box-infomation-pc-b {
        width: 80%;
    }
}

@media (max-width: 1010px) {

    .container header {
        padding: 0px 110px;
        justify-content: space-between;
    }


}

@media (max-width: 970px) {

    .container main section#baner {
        height: 45vh;
    }

    .container main section#main-blg-post .box-tech-pc-bd {
        grid-gap: 15px 20px;
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
    }

    .container main section#main-blg-post .box-tech-pc-bd .box-tech-pcbd {
        width: 85%;
        margin: 0 auto;
        height: 280px;
    }

}

@media (max-width: 890px) {

    .container header {
        padding: 0px 110px;
        justify-content: space-between;
    }

    .container main section#information .box-infomation-pc-b {
        width: 90%;
    }


}

@media (max-width: 800px) {

    .container main section#main-blg-post {
        padding: 10px 0px 51px 0px;
    }

}


@media (max-width: 790px) {

    .container header {
        padding: 0px 90px;
        justify-content: space-between;
    }

    .container main section#information .box-infomation-pc-b {
        width: 96%;
    }

}

@media (max-width: 760px) {

    .container main section#information .box-infomation-pc-b {
        width: 98%;
    }

}

@media (max-width: 744px) {

    .container main section#information .box-infomation-pc-b {
        flex-direction: column;
        gap: 10px;
        width: 90%;
    }

    .container main section#information .box-infomation-pc-b .info-img {
        border-right: none;
        border-bottom: 2px solid rgb(57, 133, 177);
        padding: 0px 0px 10px 0px;
        width: 60%;
    }

    .container main section#information .box-infomation-pc-b .info-tekst {
        font-size: 1.2rem;
    }

    .container main section#information .box-infomation-pc-b .quite-ths {
        top: 5%;
    }

}

@media (max-width: 730px) {

    .container main section#main-blg-post .box-tech-pc-bd {
        grid-gap: 15px 20px;
        grid-template-columns: repeat(1, 1fr);
        width: 95%;
    }

    .container main section#main-blg-post .box-tech-pc-bd .box-tech-pcbd {
        width: 96%;
        margin: 0 auto;
    }

}

@media (max-width: 709px) {

    .container main section#information .box-infomation-pc-b .quite-ths {
        top: 3.9%;
    }

}


@media (max-width: 660px) {

    .container header {
        padding: 0px 40px;
        justify-content: space-between;
    }

    .container main section#baner {
        height: 40vh;
        background-position: center center;
    }

    .container main section#information .box-infomation-pc-b .info-img img {
        width: 85px;
        height: 85px;
    }

    .container main section#main-blg-post {
        padding: 30px 0px 51px 0px;
    }

    .container main section#main-blg-post .box-tech-pc-bd {
        grid-gap: 15px 20px;
        grid-template-columns: repeat(1, 1fr);
        width: 95%;
    }

    .container main section#main-blg-post .box-tech-pc-bd .box-tech-pcbd {
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 570px) {

    .container header {
        padding: 0px 15px;
    }

    .container header .menu-aftr {
        display: flex;
    }
    
    .container header nav  {
        position: absolute;
        width: fit-content;
        height: 0;
        top: 74px;
        left: 0;
        right: 0;
        width: 100vw;
        transition: .3s ease-in-out ;
        background-color: #1a1a1a;
        overflow: hidden;
        transition: .4s ease-in-out;
    }

    .container header nav.active {
        height: 300px;
    }

    .container header nav ul {
        display: block;
        width: fit-content;
        margin: 25px auto 0 auto;
        opacity: 0;
        transition: .4s ease-in-out;
    }

    .container header nav.active ul {
        opacity: 1;
    }

    .container header nav ul li a {
        margin-bottom:  10px;
        padding: 0px 60px;
    }

    .container main section#information .box-infomation-pc-b {
        width: 97%;
    }

    .container main section#information .box-infomation-pc-b .quite-ths {
        top: 3.9%;
    }

}

@media (max-width: 500px) {

    .container main section#main-blg-post .box-tech-pc-bd {
        grid-gap: 15px 20px;
        grid-template-columns: repeat(1, 1fr);
        width: 99%;
    }

    .container main section#main-blg-post .box-tech-pc-bd .box-tech-pcbd {
        width: 96%;
        margin: 0 auto;
        padding: 10px 0px;
    }

}

@media (max-width: 453px) {

    .container main section#baner #baner-blr-img h1 {
        font-size: 3rem;
    }

    .container main section#information .box-infomation-pc-b .quite-ths {
        top: 3.6%;
    }

}

@media (max-width: 369px) {

    .container main section#baner #baner-blr-img h1 {
        font-size: 2.7rem;
    }

    .container main section#information .box-infomation-pc-b .quite-ths {
        top: 3.5%;
    }

}

@media (max-width: 310px) {

    .container main section#information .box-infomation-pc-b .quite-ths {
        top: 3%;
    }

}

header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 260px;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1a1a1a;
    /*background: linear-gradient(to bottom, rgba(0, 0, 0, .9), rgba(0, 0, 0, .5));*/
    transition: .5s ease-in-out;
    backdrop-filter: saturate(180%) blur(2px);
    box-shadow: rgba(17, 17, 26, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.logo a img {
    width: auto;
    height: 50px;
    margin: 5px 0px;
    position: relative;
    display: block;
    object-position: center;
    opacity: 1;
    transition: .3s ease;
}

.logo a img:hover {
    opacity: .8;
}

nav ul {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    width: auto;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 0px 14px;*/
    background-color: transparent;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    color: white;
    letter-spacing: .8px;
    transition: all .3s ease-in-out;
    opacity: 1;
}

nav ul li a:hover {
    opacity: .9;
    background: rgba(0, 0, 0, .3);
    color: rgb(221, 221, 221);
}

.txt-dec {
    display: flex;
    position: relative;
    padding: 0rem 1rem .25rem 1rem;
}

.txt-dec::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width .30s ease-in-out;
}

.txt-dec:hover::before {
    width: 100%;
}

.menu-aftr {
    height: 100%;
    width: auto;
    display: none;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out;
    padding: 0px 20px;
    cursor: pointer;
    position: relative;
}

.menu-aftr:hover  {
    opacity: .9;
    background: rgba(0, 0, 0, .3);
    color: rgb(221, 221, 221);
} 

.menu-aftr::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width .30s ease-in-out;
}

.menu-aftr:hover::before {
    width: 100%;
}

main {
    width: 100%;
    height: auto;
}

section {
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*#paralax {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .6)), url(../img/rtx.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 40vh;
}*/

section#baner {
    position: relative;
    height: 54vh;
    overflow-x: hidden;
     
}

#baner-blr-img {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .9)), url(../img/mth.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#baner-blr-img h1 {
    font-size: 3.3rem;
    font-weight: 600;
    text-align: center;
    padding: 75px 0px 4px 0px;
    color: white;
    letter-spacing: .1rem;
}

#baner-blr-img p {
    color: rgb(180, 180, 180);
    font-size: 2.2rem;
}

section#information {
    padding: 40px 0px 30px 0px;
    gap: 30px;
    min-height: auto;
}

.title-sct {
    width: auto;
    height: auto;
}

.title-sct h1 {
    color: white;
    font-size: 2.3rem;
    font-weight: 600;
    letter-spacing: 1.751px;
    padding: 0px 0px 10px 0px;
}

.box-infomation-pc-b {
    width: 50%;
    min-height: 150px;
    padding: 30px 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgb(175, 212, 255);
    border: 2px solid rgb(57, 133, 177);
    position: relative;
}

.info-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    background-color: transparent;
    border-right:  2px solid rgb(57, 133, 177);
    padding-right: 15px;
}

.info-img img {
    display: block;
    position: relative;
    width: 75px;
    height: 75px;
    object-position: center;
}

.info-tekst {
    width: auto;
    height: auto;
    color: black;
    font-size: 1.15rem;
    letter-spacing: .03rem;
    text-align: justify;
    padding: 10px;
}

.quite-ths {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    right: .5%;
    top: 8%;
    cursor: pointer;
}

.box-infomation-pc-b.quite-this {
    display: none !important; 
}

section#main-blg-post {
    padding: 30px 0px 51px 0px;
}

.box-tech-pc-bd {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 40px;
}

.box-tech-pcbd {
    width: 460px;
    height: 295px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    padding: 20px;
}

.box-tech-pcbd a {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: left;
    overflow: hidden;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box-tech-pcbd a .text-pcbd {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: baseline;
    border: 3px solid #272727;
    border-radius: 25px;
    padding: 20px 20px 10px 20px;
    transition: all .4s ease;
    background-color: #272727;
}

.walp-1 {
    background: linear-gradient(to top, rgba(0, 0, 0, .3), rgba(0, 0, 0, .7)), url(../img/zestawy/nvidia1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.walp-2 {
    background: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, .6)), url(../img/zestawy/intel.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.walp-3 {
    background: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, .6)), url(../img/zestawy/amd2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.walp-4 {
    background: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, .6)), url(../img/zestawy/asus.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.box-tech-pcbd a:hover .text-pcbd {
    border: 3px solid rgb(156, 156, 156);
    background-color: #202020; 
}

.txt-pxbd-nm {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0px 5px 0px 5px;
    flex-direction: column;

}

.text-pcbd  .txt-pxbd-nm h2 {
    font-size: 15.5pt;
    color: rgb(192, 192, 192);
    padding: 0px 0px 17px 10px;
    letter-spacing: .8px;
    font-weight: 500;
}

.text-pcbd .txt-pxbd-nm h1 {
    color: white;
    font-weight: 600;
    font-size: 1.74rem;
    padding-bottom: 5px;
}

.text-pcbd .text-from {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 6px 10px;
}

.text-from .author {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.author img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: block;
    position: relative;
    object-position: center;
    background-color: transparent;
}   

.author h3 {
    color: white;
    font-size: 1.25rem;
    padding: 0px 0px 0px 5px;
    font-weight: 500;
}
.text-from .data-wpisu {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 0px;
}

.data-wpisu p {
    color: rgb(145, 145, 145);
    font-size: 1rem;
    font-weight: 400;
}

footer {
    width: 100%;
    height: auto;
    padding: 70px 250px 40px 250px;
    position: relative;
    background-color: #171717;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .footer-cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

footer .footer-cont .pctech-abt {
    width: 27%;
    margin-right: 30px;
}

footer .footer-cont h2 {
    position: relative;
    color: white;
    font-weight: 500;
    margin: 0px 0px 15px 0px;
}

footer .footer-cont .pctech-abt img {
    width: auto;
    height: 52px;
    padding-bottom: 10px;
    position: relative;
    display: block;
    object-position: center;
}

footer .footer-cont h2 hr {
    width: 40px;
    border-radius: 30px;
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #333333;
    padding: 0;
}

footer p {
    color: #999;
    font-size: 1.34rem;
    text-align: justify;
}

.linkshr {
    position: relative;
    width: 15%;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.linkshr  ul li {
    list-style: none;
}

.linkshr  ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    transition: all .3s ease-in-out;
    font-size: 1.34rem;
}

.linkshr  ul li a:hover {
    color: #fff;
}

.contact {
    width: 25%;
    margin-right: 0 !important;
}

.contact .info {
    position: relative;

}

.contact .info li {
    display: flex;
    margin-bottom: 26px;
}

.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 15px;
}

.contact .info li span {
    color: #999;
}

.contact .info li a {
    color: #999;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.contact .info li a:hover {
    color: #fff;
}

.copyright p {
    color: #919191;
    width: 100%;
    text-align: center;
    background-color: #171717;
    padding: 1px 0px 10px 0px;
    font-size: 16pt;
    letter-spacing: 1px;
}

@media (max-width: 1440px) {

    footer {
        padding: 60px 80px 40px 80px;
    }
    
}

@media (max-width: 1260px) {

    footer {
        padding: 60px 40px 40px 40px;
    }
    

}

@media (max-width: 951px) {

    footer {
        padding: 60px 40px 20px 40px;
    }

    footer p {
        font-size: 16pt;
    }

    footer .footer-cont {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer .footer-cont h2 {
        font-size: 1.55rem;
    }

    footer .footer-cont .pctech-abt {
        width: 70%;
        margin: 0px 0px 30px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    footer .footer-cont .pctech-abt img {
        padding: 0px 0px 20px 0px;
        height: 68px;
        width: auto;
    }

    footer .footer-cont .linkshr {
        width: 30%;
        margin: 0px 0px 30px 0px;
    }
    footer .footer-cont .linkshr  ul li a {
        font-size: 1.47rem;
    }

    footer p {
        font-size: 1.45rem;
    }

    .copyright {
        font-size: 1.45rem;
    }

    footer .footer-cont .contact {
        width: auto;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}

@media (max-width: 650px) {

    footer {
        padding: 60px 10px 10px 10px;
    }

    footer .footer-cont .pctech-abt {
        width: 85%;
        margin: 0px 0px 30px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}